.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #333;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding: 20px;
    z-index: 1000;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease;
}

.sidebar-logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 38%;
    margin-top: 20px;
  }

.sidebar h2 {
    margin: 0;
    padding-bottom: 20px;
    font-size: 1.75em;
    font-weight: bold;
    border-bottom: 2px solid #f39c12;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 50px;
}

.sidebar li {
    padding: 15px;
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.sidebar li svg {
    margin-right: 10px;
    transition: fill 0.3s ease;
}

.sidebar li:hover {
    background-color: #555;
    transform: scale(1.02); 
}

.sidebar li:hover svg {
    fill: #f39c12;
}

.upgrade-button {
    background: linear-gradient(135deg, #f39c12, #f1c40f);
    color: #333;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s ease, transform 0.2s ease;
}

.upgrade-button:hover {
    background: linear-gradient(135deg, #f1c40f, #f39c12);
    transform: scale(1.05);
}

.feedback-button {
    background-color: aqua;
    color: #333;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s ease, transform 0.2s ease;
    color: black;
    width: 50%;
    margin-left: 40px;
    text-align: center;
}